# 3. Success indicators
- **3.1. Test group, 3.2. Control group:**
  - **3.X.1. Completion rate:** The proportion of users who reach the final ‘confirm’ step.
  - **3.X.2. Time spent on each step:** The average duration users spend on each step.
  - **3.X.3. Error rates:** Steps where users go back to a previous step.
- **3.3. Redesign outcome:** Given the 3 KPIs, how the new design’s performance compare to the old one?

# 4. Hypotheses testing
- **4.1. Completion rate:** z-test
- **4.2. Error rate:** z-test
- **4.3. various means of attrbutes:** t-test

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import scipy.stats as st
from scipy.stats import norm
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import ttest_ind

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df_client_profiles = pd.read_csv("/Users/milenko/My Drive (1307mile@gmail.com)/bootcamp/w5/w5w6_project2/data/final/df_client_profiles_final.csv")
df_digital_footprint = pd.read_csv("/Users/milenko/My Drive (1307mile@gmail.com)/bootcamp/w5/w5w6_project2/data/final/df_digital_footprint_final.csv")

# Dataset exploration

In [27]:
df_client_profiles

,client_id,client_tenure_in_years,client_age,gender,number_of_accounts,balance,calls_per_year,logons_per_year,experiment_group,dummy,tenure_group,age_group,balance_group
0,836976,6,60.5,U,2,45105.30,12,18,Test,1,0-10 years,61-80 years,0 - 200k
1,2304905,7,58.0,U,2,110860.30,12,18,Control,1,0-10 years,41-60 years,0 - 200k
2,1439522,5,32.0,U,2,52467.79,12,18,Test,1,0-10 years,21-40 years,0 - 200k
3,1562045,16,49.0,M,2,67454.65,6,12,Test,1,10-20 years,41-60 years,0 - 200k
4,5126305,12,33.0,F,2,103671.75,0,6,Control,1,10-20 years,21-40 years,0 - 200k
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50482,1780858,21,68.5,M,3,372100.59,12,18,Test,1,20-30 years,61-80 years,"200,001 - 400k"
50483,6967120,21,68.5,M,3,4279873.38,12,18,Control,1,20-30 years,61-80 years,"800,001+"
50484,5826160,20,56.5,F,2,44837.16,4,10,Test,1,20-30 years,41-60 years,0 - 200k
50485,8739285,19,69.5,F,2,44994.24,2,8,Test,1,10-20 years,61-80 years,0 - 200k
50486,7468138,18,61.0,F,3,209278.15,0,6,Test,1,10-20 years,61-80 years,"200,001 - 400k"

In [ ]:
# Drop the 'Dummy' column from df_digital_footprint
df_client_profiles = df_client_profiles.drop(columns=['Dummy'])

In [28]:
df_digital_footprint

,client_id,visitor_id,visit_id,process_step,date_time,client_tenure_in_years,client_age,gender,number_of_accounts,balance,calls_per_year,logons_per_year,experiment_group,dummy,tenure_group,age_group,balance_group
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,10,55.0,U,2,153238.83,6,12,Test,1,10-20 years,41-60 years,0 - 200k
321191,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321192,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321193,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321194,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k

In [5]:
df_digital_footprint.describe(include="all")

,client_id,visitor_id,visit_id,process_step,date_time
count,7.554050e+05,755405,755405,755405,755405
unique,NaN,130236,158095,5,629363
top,NaN,722943003_3441581446,875138661_34710212496_881092,start,2017-05-02 10:07:41
freq,NaN,104,104,243945,24
mean,5.013632e+06,NaN,NaN,NaN,NaN
std,2.879152e+06,NaN,NaN,NaN,NaN
min,1.690000e+02,NaN,NaN,NaN,NaN
25%,2.519882e+06,NaN,NaN,NaN,NaN
50%,5.033441e+06,NaN,NaN,NaN,NaN
75%,7.496063e+06,NaN,NaN,NaN,NaN
max,9.999875e+06,NaN,NaN,NaN,NaN

In [6]:
df_digital_footprint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

In [7]:
# Cast "date_time" as datetime type.
df_digital_footprint["date_time"] = pd.to_datetime(df_digital_footprint["date_time"])

In [8]:
# Inner-joining (df_digital_footprint, df_client_profiles) to only keep the rows with known user_id.
df_digital_footprint = pd.merge(df_digital_footprint, df_client_profiles, on="client_id")
df_digital_footprint

,client_id,visitor_id,visit_id,process_step,date_time,client_tenure_in_years,client_age,gender,number_of_accounts,balance,calls_per_year,logons_per_year,experiment_group,dummy,tenure_group,age_group,balance_group
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5,79.0,U,2,189023.86,2,8,Test,1,0-10 years,61-80 years,0 - 200k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,10,55.0,U,2,153238.83,6,12,Test,1,10-20 years,41-60 years,0 - 200k
321191,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321192,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321193,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k
321194,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,21,34.0,M,3,141808.05,12,18,Control,1,20-30 years,21-40 years,0 - 200k

In [9]:
# Drop duplicated rows. There are no null values.
print(f"'digital_footprint': duplicated rows: {df_digital_footprint.duplicated().sum()}")
print(f"'digital_footprint': null values: {df_digital_footprint.isna().sum().sum()}")

df_digital_footprint = df_digital_footprint.drop_duplicates()
print(f"'digital_footprint': duplicated rows: {df_digital_footprint.duplicated().sum()}")

'digital_footprint': duplicated rows: 4072
'digital_footprint': null values: 0
'digital_footprint': duplicated rows: 0

# 3.1. Test group: success indicators

## 3.1.1. completion rate

In [10]:
df_test_group = df_digital_footprint[df_digital_footprint["experiment_group"] == "Test"]

confirm_count_test = (df_test_group["process_step"] == "confirm").sum()
print(f"Number of 'confirm' steps: {confirm_count_test}")

unique_visit_count_test = df_test_group["visit_id"].nunique()
print(f"Number of unique visit_id: {unique_visit_count_test}")

completion_rate_test = confirm_count_test / unique_visit_count_test
print(f"The proportion of users who reach the final ‘confirm’ step: {completion_rate_test:.2%}")

Number of 'confirm' steps: 25594
Number of unique visit_id: 37122
The proportion of users who reach the final ‘confirm’ step: 68.95%

## 3.1.2. time spent on each step

In [11]:
test_durations = {}
test_total_duration = pd.Timedelta(0)

step_pairs = [
    ("start", "step_1"),
    ("step_1", "step_2"),
    ("step_2", "step_3"),
    ("step_3", "confirm"),
]

for start_step, end_step in step_pairs:
    
    relevant_steps = df_test_group[df_test_group["process_step"].isin([start_step, end_step])]
    
    relevant_steps_sorted = relevant_steps.sort_values(by=["visit_id", "date_time"])
    
    # Calculate the time difference between steps for each visit_id
    relevant_steps_sorted["time_diff"] = relevant_steps_sorted.groupby("visit_id")["date_time"].diff()
    
    # Select end_step rows to use the calculated time differences as durations from start_step to end_step
    end_step_durations = relevant_steps_sorted[relevant_steps_sorted["process_step"] == end_step]
    
    # Calculate the mean duration from start_step to end_step
    test_mean_duration = end_step_durations["time_diff"].mean()
    
    # Format the mean duration string to include minutes, and seconds
    test_mean_duration_str = f"{test_mean_duration.components.minutes}m {test_mean_duration.components.seconds}s"
    
    # Store the result in the dictionary keyed by the step pair
    test_durations[(start_step, end_step)] = test_mean_duration_str
    
    # Add the mean duration to the total duration
    test_total_duration += test_mean_duration

    print(f"{start_step} to {end_step}: {test_mean_duration_str}")

# Format the total duration string to include minutes, and seconds
test_total_duration_str = f"{test_total_duration.components.minutes}m {test_total_duration.components.seconds}s"

print(f"Total duration for the whole journey: {test_total_duration_str}")

start to step_1: 0m 49s
step_1 to step_2: 0m 58s
step_2 to step_3: 1m 39s
step_3 to confirm: 2m 9s
Total duration for the whole journey: 5m 37s

## 3.1.3. error rates

In [12]:
# Sort by visit_id and date_time to ensure chronological order
df_test_group = df_test_group.sort_values(by=["client_id", "visit_id", "date_time"])

# Assign step orders
step_order = {"start": 0,
              "step_1": 1,
              "step_2": 2,
              "step_3": 3,
              "confirm": 4}

# Detect backward movements
df_test_group["step_order"] = df_test_group["process_step"].map(step_order)

# Calculate the difference in step order to identify backward movements
df_test_group["step_diff"] = df_test_group.groupby(["client_id", "visit_id"])["step_order"].diff()

# A negative step_diff indicates a backward movement
df_test_group["is_backward"] = df_test_group["step_diff"] < 0

# Proportion of sessions with at least one backward movement
error_sessions_test = df_test_group[df_test_group["is_backward"]].groupby(["client_id", "visit_id"]).ngroups
total_sessions_test = df_test_group.groupby(["client_id", "visit_id"]).ngroups
test_error_rate = error_sessions_test / total_sessions_test

print(f"Proportion of Test group sessions with errors: {test_error_rate:.2%}")

# Count of backward movements by step
errors_by_step = df_test_group[df_test_group["is_backward"]]["process_step"].value_counts()
errors_by_step

Proportion of Test group sessions with errors: 26.80%

process_step
start     10512
step_1     3412
step_2     2283
step_3       22
Name: count, dtype: int64

# 3.2. Control group: success indicators

## 3.2.1. completion rate

In [13]:
df_control_group = df_digital_footprint[df_digital_footprint["experiment_group"] == "Control"]

confirm_count_control = (df_control_group["process_step"] == "confirm").sum()
print(f"Number of 'confirm' steps: {confirm_count_control}")

unique_visit_count_control = df_control_group["visit_id"].nunique()
print(f"Number of unique visit_id: {unique_visit_count_control}")

completion_rate_control = confirm_count_control / unique_visit_count_control
print(f"The proportion of users who reach the final 'confirm' step: {completion_rate_control:.2%}")

Number of 'confirm' steps: 17329
Number of unique visit_id: 32181
The proportion of users who reach the final 'confirm' step: 53.85%

## 3.2.2. time spent on each step

In [14]:
control_durations = {}
control_total_duration = pd.Timedelta(0)

step_pairs = [
    ("start", "step_1"),
    ("step_1", "step_2"),
    ("step_2", "step_3"),
    ("step_3", "confirm"),
]

for start_step, end_step in step_pairs:
    
    relevant_steps = df_control_group[df_control_group["process_step"].isin([start_step, end_step])]
    
    relevant_steps_sorted = relevant_steps.sort_values(by=["visit_id", "date_time"])
    
    # Calculate the time difference between steps for each visit_id
    relevant_steps_sorted["time_diff"] = relevant_steps_sorted.groupby("visit_id")["date_time"].diff()
    
    # Select end_step rows to use the calculated time differences as durations from start_step to end_step
    end_step_durations = relevant_steps_sorted[relevant_steps_sorted["process_step"] == end_step]
    
    # Calculate the mean duration from start_step to end_step
    control_mean_duration = end_step_durations["time_diff"].mean()
    
    # Format the mean duration string to include minutes, and seconds
    control_mean_duration_str = f"{control_mean_duration.components.minutes}m {control_mean_duration.components.seconds}s"
    
    # Store the result in the dictionary keyed by the step pair
    control_durations[(start_step, end_step)] = control_mean_duration_str
    
    # Add the mean duration to the total duration
    control_total_duration += control_mean_duration

    print(f"{start_step} to {end_step}: {control_mean_duration_str}")

# Format the total duration string to include minutes, and seconds
control_total_duration_str = f"{control_total_duration.components.minutes}m {control_total_duration.components.seconds}s"

print(f"Total duration for the whole journey: {control_total_duration_str}")

start to step_1: 0m 51s
step_1 to step_2: 0m 47s
step_2 to step_3: 1m 34s
step_3 to confirm: 2m 9s
Total duration for the whole journey: 5m 24s

## 3.2.3. error rates

In [15]:
# Sort by visit_id and date_time to ensure chronological order
df_control_group = df_control_group.sort_values(by=["client_id", "visit_id", "date_time"])

# Assign step orders
step_order = {"start": 0,
               "step_1": 1,
               "step_2": 2,
               "step_3": 3,
               "confirm": 4}

# Detect backward movements
df_control_group["step_order"] = df_control_group["process_step"].map(step_order)

# Calculate the difference in step order to identify backward movements
df_control_group["step_diff"] = df_control_group.groupby(["client_id", "visit_id"])["step_order"].diff()

# A negative step_diff indicates a backward movement
df_control_group["is_backward"] = df_control_group["step_diff"] < 0

# Proportion of sessions with at least one backward movement
error_sessions_control = df_control_group[df_control_group["is_backward"]].groupby(["client_id", "visit_id"]).ngroups
total_sessions_control = df_control_group.groupby(["client_id", "visit_id"]).ngroups
control_error_rate = error_sessions_control / total_sessions_control

print(f"Proportion of Control group sessions with errors: {control_error_rate:.2%}")

# Count of backward movements by step
errors_by_step = df_control_group[df_control_group["is_backward"]]["process_step"].value_counts()
errors_by_step

Proportion of Control group sessions with errors: 20.22%

process_step
start     4808
step_2    2364
step_1    2303
step_3     101
Name: count, dtype: int64

# 3.3. Redesign outcome

In [26]:
# Test group has higher completion rate
print(f"The proportion of Test group reaching the final 'confirm' step: {completion_rate_test:.2%}")
print(f"The proportion of Control group reaching the 'confirm' step is: {completion_rate_control:.2%}\n")

# Control group has lower average time spent between steps
for start_step, end_step in step_pairs:
    test_str = test_durations.get((start_step, end_step), "No data")
    control_str = control_durations.get((start_step, end_step), "No data")
    print(f"Transition from '{start_step}' to '{end_step}':")
    print(f"  Test group: {test_str}")
    print(f"  Control g.: {control_str}\n")

# Control group has lower proportion of sessions with errors.
print(f"Proportion of Test group sessions with errors: {test_error_rate:.2%}")
print(f"Proportion of Control g. sessions with errors: {control_error_rate:.2%}")

The proportion of Test group reaching the final 'confirm' step: 68.95%
The proportion of Control group reaching the 'confirm' step is: 53.85%

Transition from 'start' to 'step_1':
  Test group: 0m 49s
  Control g.: 0m 51s

Transition from 'step_1' to 'step_2':
  Test group: 0m 58s
  Control g.: 0m 47s

Transition from 'step_2' to 'step_3':
  Test group: 1m 39s
  Control g.: 1m 34s

Transition from 'step_3' to 'confirm':
  Test group: 2m 9s
  Control g.: 2m 9s

Proportion of Test group sessions with errors: 26.80%
Proportion of Control g. sessions with errors: 20.22%

# 4. Hypotheses testing

## 4.1. completion rate
Test group had a higher completion rate compared to the Control group.\
H0: This difference is not statistically significant.\
H1: The difference is statistically significant.

In [22]:
# Completion rates and number of observations
x1, x2 = confirm_count_test, confirm_count_control
n1, n2 = unique_visit_count_test, unique_visit_count_control

# Part 1: Two-sided test for completion rate comparison
stat, pval = proportions_ztest([x1, x2], [n1, n2], alternative="two-sided")
print("Part 1 - Completion Rate Comparison")
print(f"Z-statistic: {stat:.2f}, P-value: {pval:.4f}")

# Interpretation for Part 1
alpha = 0.05
if pval < alpha:
    print("Reject H0: Significant difference in completion rates between the Test and Control groups.")
else:
    print("Fail to reject H0: No significant difference in completion rates.")

# Part 2: One-sided test for comparing against Control + 5%
# Adjusted completion rate for Control by adding 5%
control_completion_rate_adjusted = (x2 + 0.05 * n2) / n2

# Comparing Test completion rate directly to adjusted Control rate
print("\nPart 2 - Completion Rate with Cost-Effectiveness Threshold")
completion_rate_test = x1 / n1
if completion_rate_test > control_completion_rate_adjusted and pval < alpha:
    print(f"Reject H0: Test group's completion rate exceeds Control's by >5%, indicating cost-effectiveness.")
else:
    print("Fail to reject H0: Test group's completion rate does not exceed Control's by >5%, indicating lack of cost-effectiveness.")

Part 1 - Completion Rate Comparison
Z-statistic: 40.82, P-value: 0.0000
Reject H0: Significant difference in completion rates between the Test and Control groups.

Part 2 - Completion Rate with Cost-Effectiveness Threshold
Reject H0: Test group's completion rate exceeds Control's by >5%, indicating cost-effectiveness.

# 4.2. error rate
Test group had a higher error rate 26,8% compared to the Control group 20.22%.\
H0: This difference is not statistically significant.\
H1: The difference is statistically significant.

In [23]:
# Calculate error rates and number of observations
x1, x2 = error_sessions_test, error_sessions_control
n1, n2 = total_sessions_test, total_sessions_control

# Part 1: Two-sided test for error rate comparison
stat, pval = proportions_ztest([x1, x2], [n1, n2], alternative='two-sided')
print("Error Rate Comparison Between Test and Control Groups")
print(f"Z-statistic: {stat:.2f}, P-value: {pval:.4f}")

# Interpretation
alpha = 0.05
if pval < alpha:
    print("Reject H0: Significant difference in error rates between the Test and Control groups.")
else:
    print("Fail to reject H0: No significant difference in error rates.")

Error Rate Comparison Between Test and Control Groups
Z-statistic: 20.33, P-value: 0.0000
Reject H0: Significant difference in error rates between the Test and Control groups.

## 4.3. t-test of various means between the groups

In [24]:
def compare_groups(df, column_name, group_col="experiment_group", test_label="Test", control_label="Control"):
    # Data filtering
    test_group = df[df[group_col] == test_label][column_name]
    control_group = df[df[group_col] == control_label][column_name]
    
    # Calculate means
    test_mean = test_group.mean()
    control_mean = control_group.mean()
    
    # Perform t-test
    stat, p = ttest_ind(test_group, control_group)
    
    # Print results
    print(f"\nComparison based on {column_name}:")
    print(f"The average {column_name} of the Test users: {test_mean:.3f}")
    print(f"The average {column_name} of the Control users: {control_mean:.3f}")
    print(f"{column_name.capitalize()} comparison between groups - T-statistic: {stat:.3f}, P-value: {p:.3f}")
    
    # Interpretation
    if p < 0.05:
        print(f"With the P-value {p:.3f}, we reject the H0.")
        print(f"The average {column_name} of Test group users is significantly different than that of Control group.\n")
    else:
        print(f"With the P-value {p:.3f}, we fail to reject the H0.")
        print(f"The average {column_name} of Test group users is not significantly different than that of Control group.\n")

# Example usage
compare_groups(df_client_profiles, "client_age")
compare_groups(df_client_profiles, "client_tenure_in_years")
compare_groups(df_client_profiles, "number_of_accounts")
compare_groups(df_client_profiles, "balance")
compare_groups(df_client_profiles, "calls_per_year")
compare_groups(df_client_profiles, "logons_per_year")

Comparison based on client_age:
The average client_age of the Test users: 47.164
The average client_age of the Control users: 47.498
Client_age comparison between groups - T-statistic: -2.416, P-value: 0.016
With the P-value 0.016, we reject the H0.
The average client_age of Test group users is significantly different than that of Control group.


Comparison based on client_tenure_in_years:
The average client_tenure_in_years of the Test users: 11.983
The average client_tenure_in_years of the Control users: 12.088
Client_tenure_in_years comparison between groups - T-statistic: -1.715, P-value: 0.086
With the P-value 0.086, we fail to reject the H0.
The average client_tenure_in_years of Test group users is not significantly different than that of Control group.


Comparison based on number_of_accounts:
The average number_of_accounts of the Test users: 2.250
The average number_of_accounts of the Control users: 2.260
Number_of_accounts comparison between groups - T-statistic: -2.102, P-value: 0.036
With the P-value 0.036, we reject the H0.
The average number_of_accounts of Test group users is significantly different than that of Control group.


Comparison based on balance:
The average balance of the Test users: 148962.605
The average balance of the Control users: 150151.900
Balance comparison between groups - T-statistic: -0.441, P-value: 0.659
With the P-value 0.659, we fail to reject the H0.
The average balance of Test group users is not significantly different than that of Control group.


Comparison based on calls_per_year:
The average calls_per_year of the Test users: 6.124
The average calls_per_year of the Control users: 6.258
Calls_per_year comparison between groups - T-statistic: -3.445, P-value: 0.001
With the P-value 0.001, we reject the H0.
The average calls_per_year of Test group users is significantly different than that of Control group.


Comparison based on logons_per_year:
The average logons_per_year of the Test users: 12.204
The average logons_per_year of the Control users: 12.332
Logons_per_year comparison between groups - T-statistic: -3.318, P-value: 0.001
With the P-value 0.001, we reject the H0.
The average logons_per_year of Test group users is significantly different than that of Control group.

# 5. Experiment evaluation

In [21]:
# There's 23% difference in size between the experiment groups, which seems a bit off-balance.
# The experiment duration of 97 days seems sufficient.

print(f"Test group size: {len(df_test_group)}")
print(f"Control group size: {len(df_control_group)}")
balance = abs(len(df_test_group) - len(df_control_group)) / ((len(df_test_group) + len(df_control_group)) / 2)
print(f"Balance between groups: {balance:.2f}\n")

experiment_start = df_digital_footprint['date_time'].min()
experiment_end = df_digital_footprint['date_time'].max()
experiment_duration = experiment_end - experiment_start

print(f"Experiment duration: {experiment_duration.days} days")

Test group size: 176641
Control group size: 140482
Balance between groups: 0.23

Experiment duration: 97 days